.login-box-1{
   
    margin:1% 35%;
    width: auto;
   height:auto;
   flex-shrink: 0;
  border-radius: 10px;
background: white;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

}
.img-1{
    margin:0% 35%;
    margin-top: 10%;
    width: 100px;
    height: 62px;
}
.p1{
    color: #4D4D4D;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}
.p2{
    color: #ABABAB;
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 128.523%;
}
.inner-box-1{
    padding-left: 10%;
    padding-top: 3%;
    padding-right: 10%;
}
.label-1{
    padding-bottom: 40px;
    color: #4D4D4D;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 100%;
}
.or{
    margin-left: 46%;
}
.btn-1{
    display: flex;
    justify-content: space-between;
}
.input-1{
    width: 90%;
    display: flex;
padding: 10px;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 8px;
border: 1px solid #DCD9D9;
background: #FFF;
}
.inner-box-2{
    justify-content: space-between;
    display: flex;
    padding-top: 5%;
}
.button-1{
    display: flex;
width: 100%;
padding: 12px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #FA7C54;
margin-top: 10%;
border: 0px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 100%;
}
.p3{
    color: #4D4D4D;
   
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.inner-box-3{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}
.button-2{
    width: 140px;
}